
body{
  font-family: 'Open Sans', sans-serif;
  overflow-x:scroll;
}

div.symbol {
    text-align:center;
    font-size:1em;
	/**/
}
div.info {
    text-align:center;
    font-size:.5em;
	/**/
}

section#info{
  width:400px;
}

table#elements{
	border: 0;
	width: 0;
	border-collapse: collapse;
	clear: left;
	margin: 1em 0 8em;
	table-layout:fixed; 
	width:1600px;
}
table#elements td {
	padding: 2px;
	display:inline-block;
}
table#elements td,
table#elements .element {
    cursor: pointer;
	width: 4em;
	height: 4em;
	opacity:0.8;
	margin: .5em;
	/**/
}




table#elements td:hover .element,section#info ul li:hover {

	opacity: 1 !important;
	z-index: 100;
	box-shadow: rgba(0, 0, 0, 0.75) 0 0 8px 2px;
	-o-box-shadow: rgba(0, 0, 0, 0.75) 0 0 8px 2px;
	-moz-box-shadow: rgba(0, 0, 0, 0.75) 0 0 8px 2px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.75) 0 0 8px 2px;
}


section#info ul li{
  list-style:none;
  margin:.5em;
  padding:.2em;
  text-align:center;
}

/*Colores de los cuadrillos*/

table#elements .none {
	background-color: rgb(201, 201, 201);
}

table#elements  .alkali,
section#info #alkali  {
	background-color: rgb(255, 150, 80);
}

table#elements .alcalinoterreos,
section#info #alcalinoterreos {
	background-color: rgb(255, 255, 100);
}

table#elements .metalestransicion,
section#info #metalestransicion   {
	background-color: rgb(234, 156, 220);
}

table#elements .lantanidos,
section#info #lantanidos   {
	background-color: rgb(255, 247, 190);
}

table#elements .actinidos,
section#info #actinidos  {
	background-color: rgb(254, 202, 251);
}

table#elements .metalesbloquep,
section#info #metalesbloquep   {
	background-color: rgb(12, 133, 213);
}

table#elements .nometales,
section#info #nometales   {
	background-color: rgb(47, 233, 34);
}

table#elements .gasesnobles,
section#info #gasesnobles   {
	background-color: rgb(103, 244, 254);
}

