
body{
  font-family: 'Open Sans', sans-serif;
  overflow-x:scroll;
}

table#elements{
	border: 0;
	width: 0;
	border-collapse: collapse;
	clear: left;
	margin: 1em 0 8em;
	table-layout:fixed; 
	width:1600px;
}
table#elements td {
	padding: 2px;
	display:inline-block;
}
table#elements td,
table#elements .element {
    cursor: pointer;
	width: 4em;
	height: 4em;
	opacity:0.8;
	margin: .5em;
	/**/
}
.symbol {
    text-align:center;
    font-size:1em;
	/**/
}
.name {
    text-align:center;
    font-size:.5em;
	/**/
}
.molar{
  text-align:center;
  font-size:.5em;
}



table#elements td:hover .element {

	opacity: 1 !important;
	z-index: 100;
	box-shadow: rgba(0, 0, 0, 0.75) 0 0 8px 2px;
	-o-box-shadow: rgba(0, 0, 0, 0.75) 0 0 8px 2px;
	-moz-box-shadow: rgba(0, 0, 0, 0.75) 0 0 8px 2px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.75) 0 0 8px 2px;
}



/*Colores de los cuadrillos*/

table#elements .root .icon {
	background-color: rgb(155, 255, 155);
}

table#elements .none .icon{
	background-color: rgb(120, 140, 255);
}

table#elements .alkali,section#info #alkali  {
	background-color: rgb(255, 150, 80);
}

table#elements .alcalinoterreos {
	background-color: rgb(255, 255, 100);
}

table#elements .metalestransicion  {
	background-color: rgb(234, 156, 220);
}

table#elements .lantanidos  {
	background-color: rgb(255, 247, 190);
}

table#elements .actinidos {
	background-color: rgb(254, 202, 251);
}

table#elements .metalesbloquep  {
	background-color: rgb(12, 133, 213);
}

table#elements .nometales  {
	background-color: rgb(47, 233, 34);
}

table#elements .gasesnobles  {
	background-color: rgb(103, 244, 254);
}

